// out: "../../App.module.css", compress: true, sourceMap: false

@import "./mixins.less";

body {
    * {
        margin: 0;
        padding: 0;

    }

    font-family: @mainText;
    min-height: 100vh;
    min-width: 100vw;
    color: @darkPrimary;

    .Main {
        padding-top: @navContainerHeight;
    }
}